/*----Navbar section------*/
.nav-wrapper {
  background-color: #26a69a;
}

/*-----footer section------*/
.page-footer {
  background-color: #26a69a;
}
.footer-section {
  color: white;
  text-align: center;
}

.socials-links li {
  display: inline-block;
  font-size: x-large;
  color: white;
}


