/*----Navbar section------*/
.nav-wrapper {
  background-color: #26a69a;
}

/*-----Rows------*/
.row {
  margin: 30px;
}

/*-----Header Sections and headings-------*/
.header-section, .page-header {
  text-align: center;
}

/*-----Search Box on index page-----*/
.search-box-content.btn {
  margin-top: 3px;
  margin-bottom: 7px;
}

/*------cards for bookb row------*/
.book-section-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
/*-----Cards for books-----*/
.book-card-style {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 95%;
}


/*-----footer section------*/
.page-footer {
  background-color: #26a69a;
}
.footer-section {
  color: white;
  text-align: center;
}

.socials-links li {
  display: inline-block;
  font-size: x-large;
  color: white;
}


