
body {
  background-color: #e0f2f1;
  height:100vh;
  margin:0;
  display: flex;
  flex-direction:column;
}

footer {
  margin-top:auto;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 100%;

}

@media (max-width: 992px) {
  footer {
    width: 100%;
  }
}

/*----Navbar section------*/
@media (min-width: 992px) {
  .brand-logo h6 {
    margin-left: 20px;
  }
}

/*---to fix the nav bar----*/
.nav-wrapper {
  overflow: hidden;
  background-color: #26a69a;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}
/*---move content down as nav bar is fixed and overlay hidden--*/
main {
  margin-top: 64px;
}

/*-----Rows------*/
.row {
  margin: 15px;
}

/*-----Header Sections and headings-------*/
.main-heading-row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 30px;
}

.main-heading {
  width: 75%;
  margin: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.40);
  background-color: #b2dfdb;
}

.main-heading h2 {
  font-size: 260%;
  margin-top: 8px;
  margin-bottom: 3px;
}

.main-heading h6 {
  margin-top: 4px;
  margin-bottom: 10px;
}

.page-header,
.add-book-btns {
  text-align: center;
}

/*-----Flash Message-------*/
.flash-message {
  background-color: white;
  color: red;
}

/*-----Search Box on index page-----*/
.search-box-row,
.main-heading,
.search-box-row col {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.search-box-content .card-header {
  background-color: #b2dfdb;
}

/*-----logIn Form-------*/
.login-form-btn, .login-form-text {
  text-align: center;
}

.login-form-text {
  margin-top: 10px;
}

/*----add book/edit book forms------*/

.add-form-col form {
  margin: auto;
  width: 80%;
}

.add-form-col .input-field,
.add-form-col label,
#termsCon {
  padding: 40px;
}

.formTermsfield .form-check-label {
  font-size: smaller;
}

.add-book-btn-row, .add-a-book-btn, .add-book-btn-row-edit {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.add-book-btn-row .btn, .add-book-btn-row-edit .btn {
  margin-bottom: 20px;

}

.add-a-book-now-div {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .add-book-btn-row, .add-book-btn-row-edit {
    margin-top: 60px;
  }
}

@media (max-width: 767.98px) {
  .add-book-btn-row {
    margin-top: 100px;
  }

  .add-book-btn-row-edit {
    margin-top: 170px;
    text-align: center;
  }

  .bottom-of-form {
    margin-bottom: 100px;
  }
}

#desc-max, #titleHelp, #imgHelp, #comment-max, #get_book-1 {
  color: red;
}
/*-----Input fields on forms-------*/
.input-field {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*search box form*/

.search-box-row form {
  width: 60%;
  margin: auto;
}


.search-box-content {
  padding: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.40);
}

.search-buttons {
  margin-bottom: 5px;
}

/*------cards for books row and the columns------*/
.book-section-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/*-----Cards for books-----*/
.book-card-style {
  margin: auto;
  margin-top: 35px;
  height: 615px;
  width: 310px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.40);
}

.card-image,
.card-image img {
  width: 310px;
  height: 340px;
}

.book-card-style.card-content {
  width: 310px;
  height: 275px;
}

.card-title {
  margin-top: 0;
}

.card-content div,
.card-content .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-floating i {
  font-size: x-large;
}

/*-----Cards for Books at lower screen sizes max 768px----*/

@media (max-width: 767.98px) {

  .book-section-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .colum-for-cards {
    display: inline;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .book-card-style {
    margin: auto;
    margin-top: 30px;
    height: 590px;
    width: 290px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.40);
  }
  
  .card-image,
  .card-image img {
    width: 290px;
    height: 325px;
  }
  
  .book-card-style.card-content {
    width: 290px;
    height: 265px;
  }
}

/*-----viewing each book in more detail----*/
.book-details-row {
  margin-bottom: 40px;
}

.book-content div {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
.book-content h5 {
  margin-top: 60px;
  padding-top: 10px;
}

.book-image {
  margin-bottom: 20px;
}

}

.book-content .btn {
  margin: 5px;
}

.book-image {
  display: flex;
  justify-content: center;
}

/*-----size of image resize when views in the more details section----*/
.book-image img {
  width: 320px;
  height: 380px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-----footer section------*/

.footer-section {
  color: white;
  text-align: center;
  background-color: #00695c;
}

.footer-section-2 {
  margin-top: 10px;
}

.socials-links ul {
  margin-top: 0;
  margin-bottom: 0;
}

.socials-links h6 {
  margin-bottom: 3px;
}

.socials-links i {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

.socials-links li {
  display: inline-block;
  font-size: x-large;
  color: white;
}

.footer-section .row {
  display: flex;
  justify-content: center;
}