<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font-awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--Materialize CSS Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    {% block styles %}
    {% endblock %}
    <title>Books4Devs</title>
</head>

<body>
    <!-- Responsive navbars-->
    <!-- Materialize main nav bar-->
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" class="brand-logo"><i class="fas fa-laptop-code"></i> Books4Devs</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down" id="navigation">
                {% set active_page = active_page %}
                <li class="{{ 'active' if active_page == 'index' }}"><a href="{{ url_for('index') }}">All Books</a>
                </li>
                {% if session.user %}
                <li class="{{ 'active' if active_page == 'profile' }}"><a
                        href="{{ url_for('profile', username=session['user']) }}">My Books</a></li>
                <li class="{{ 'active' if active_page == 'add_book' }}"><a href="{{ url_for('add_book') }}">Add a
                        Book</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li class="{{ 'active' if active_page == 'login' }}"><a href="{{ url_for('login') }}">Log In</a>
                </li>
                <li class="{{ 'active' if active_page == 'register' }}" }><a
                        href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Materialize mobile side bar-->
    <ul class="sidenav" id="mobile-demo">
        <li class="{{ 'active' if active_page == 'index' }}"><a href="{{ url_for('index') }}">All Books</a></li>
        {% if session.user %}
        <li class="{{ 'active' if active_page == 'profile' }}"><a
                href="{{ url_for('profile', username=session['user']) }}">My Books</a></li>
        <li class="{{ 'active' if active_page == 'add_book' }}"><a href="{{ url_for('add_book') }}">Add a Book</a>
        </li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
        <li class="{{ 'active' if active_page == 'login' }}"><a href="{{ url_for('login') }}">Log In</a></li>
        <li class="{{ 'active' if active_page == 'register' }}"><a href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
    </ul>

    <section>
        <!--Flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="col s6" class="flash-message">
                <h5>{{ message }}</h5>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    {% block content %}
    {% endblock %}
    <!-- Footer-->
    <footer class="footer-section footer-copyright">
        <div class="row">
            <div class="col s12 l6 socials-links">
                <h6>Find Us On:</h6>
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
                    </li>
                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-square"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col s12 l6">
                <p>Copyright &copy; <span id="copyright-date"></span> Books4Devs.</p>
            </div>
        </div>
    </footer>
    <!--JQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Materializecss CDN JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Core JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>