{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 page-header">
        <h3>Edit Book</h3>
    </div>
</div>
<div class="row add-form-row">
    <div class="col s12 m8 offset-m2 add-form-col">
        <form class="card" method="POST" action="{{ url_for('edit_book', book_id=book._id) }}">
            <!--1-title-->
            <div class="row">
                <div class="input-field col s12">
                    <label for="title" class="form-label">Book Title</label>
                    <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp"
                        value="{{ book.title}}" required>
                    <div id="titleHelp" class="form-text">
                        Please enter the full name of the book as it appears on the
                        cover.
                    </div>
                </div>
            </div>
            <!--2-imgURL-link-->
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="imgURL" class="form-control" id="imgURL" aria-describedby="imgHelp"
                        value="{{ book.imgURL }}" required>
                    <label for="imgURL" class="form-label">Image URL address</label>
                    <div id="imgHelp" class="form-text">
                        Please copy and paste in the book front cover image URL address
                    </div>
                </div>
            </div>
            <!--3-author(s)-->
            <div class="row">
                <div class="input-field col s12">
                    <label for="author" class="form-label">Author(s)</label>
                    <input type="text" name="author" class="form-control" id="author" value="{{ book.author }}"
                        required>
                </div>
            </div>
            <!--4-description-->
            <div class="row">
                <div class="input-field col s12">
                    <label for="desc" class="form-label">Book description</label>
                    <textarea class="materialize-textarea" name="desc" id="desc" rows="3" aria-describedby="desc-max"
                        maxlength="1000" data-length="1000" required>{{- book.desc -}}</textarea>
                    <div id="desc-max" class="form-text">Please keep the book description less than 1000 characters long
                    </div>
                </div>
            </div>
            <!--5-rating-->
            <div class="row">
                <div class="input-field col s12">
                    <div>
                        <label for="rating" class="form-label">Rating- How many stars do you give this book out of
                            10:</label>
                        <input type="number" name="rating" class="form-control" id="rating" min="1" max="10"
                            maxlength="2" value="{{ book.rating }}" placeholder="only enter a number from 1 to 10"
                            required>
                    </div>
                </div>
            </div>
            <!--6-book comments-->
            <div class="row">
                <div class="input-field col s12">
                    <label for="comments" class="form-label">Leave your review here</label>
                    <textarea class="materialize-textarea" name="comments" id="comments" aria-describedby="comment-max"
                        maxlength="1000" data-length="1000" required>{{- book.comments -}}</textarea>
                    <div id="comment-max" class="form-text">
                        Please keep your review to no more than 1000 characters long
                    </div>
                </div>

            </div>
            <!--7-get the book link-->
            <div class="row">
                <div class="input-field col s12">
                    <label for="get_book" class="form-label">To get this book:</label>
                    <input type="text" name="get_book" class="form-control" value="{{ book.get_book }}" id="get_book"
                        aria-describedby="get_book" required>
                    <div id="get_book" class="form-text">
                    Copy and Paste in the Website URL for where someone can Purchase this book.
                    </div>
                </div>
            </div>
            <!--8a-terms&condition checkbox-->
            <div class="row">
                <div class="input-field col s12 formTermsfield">
                    <label class="form-check-label" for="terms-check">
                        <input type="checkbox" id="terms-check" required>
                        <span>I agree to the Books4Devs <a id="termsConTrigger">Terms &
                            Conditions</a> of posting a review</span>
                    </label>
                </div>
            </div>
            <!--8b-Terms and Conditions Div -->
            <div class="row" id="termsCon">
                <div class="col s10">
                    <p><strong>Terms and Conditions:</strong><br>
                        Users posting books reviews on this site agree to not post any commments that can be deemed
                        to be
                        rude,
                        racist
                        or abusive in any manner. You agree to abstain from vulgar language and keep your comments
                        relative
                        to
                        the book
                        at hand and your experience of it. We encourage complete honesty on a book review but if
                        your
                        comments
                        are
                        deemed to be out of line this will result in your review being removed and even possible
                        deletion of
                        your user
                        account.
                        <p>
                </div>
            </div>
            <!--9Submit and Cancel buttons for edit book form-->
            <div class="row add-book-btn-row">
                <div class="col s12">
                    <!--9aCancel editing button-->
                    <button href="{{ url_for('index') }}" class="btn">Cancel</button>
                    <!--9b-edit book submit form button-->
                    <button type="submit" class="btn">Confirm Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}