{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="row main-heading-row">
    <div class="col s12">
        <div class="card main-heading">
            <h2 class=""><strong>Books4Devs!</strong></h2>
                <h6 class="">A great platform that allows Software Developers and those interested to share
                    reviews,
                    recommendations and comments on books used in the computer programming world.</h6>
                {% if session.user %}
                {% else %}
                <h6 class="">
                    Why not <a style="text-decoration: none;" href="{{ url_for('register') }}"><strong>Register</strong></a> or <a
                        style="text-decoration: none;" href="{{ url_for('login') }}"><strong>LogIn</strong> </a> and add your own
                    book
                    reviews too.
                </h6>
                {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 page-header">
        <h3>All Books</h3>
    </div>
</div>
<!--Search box area(row)-->
<div class="row search-box-row">
    <div class="col s12">
        <form action="{{ url_for('search') }}" method="POST">
            <!--search box-->
            <div class="card search-box-content">
                <h6 class="card-header"><strong> Search for book(s):</strong></h6>
                <div class="card-body">
                    <div class="input-group">
                        <input class="input-field" type="text" name="book_search"
                            placeholder="Search by book Name or Author(s)..." />
                        <div class="search-buttons">
                            <button class="btn" id="book_search" type="submit"><i class="fas fa-search"></i>
                                Find</button>
                            <a href="{{ url_for('index') }}" class="btn btn-primary">Clear Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Book Card Section Row-->
<div class="row book-section-row">
    {% for book in developer_books %}
    <!--Each Individual Card-->
    <div class="col s12 m6 l4 colum-for-cards">
        <div class="card book-card-style">
            <div class="card-image">
                <img src="{{ book.imgURL }}">
                <a href="{{ url_for('view_book', book_id=book._id) }}"
                    class="btn-floating halfway-fab waves-effect waves-light"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
                <h4 class="card-title"><strong>{{ book.title }}</strong></h4>
                <div>
                    {{ book.author }}
                </div>
                <div>Added by: {{ book.added_by }}</div>
                <div>Rating: {{ book.rating }} /10 </div>
                {% if session.user %}
                {% if session.user|lower == book.added_by|lower %}
                <a class="btn waves-effect waves-light" href="{{ url_for('edit_book', book_id=book._id) }}"><i
                        class="far fa-edit"></i>Edit</a>
                <a class="btn waves-effect waves-light deletion-alert"
                    href="{{ url_for('delete_book', book_id=book._id) }}"><i class="far fa-trash-alt"></i>Delete</a>
                {% endif %}
                {% endif %}
                <a class="btn waves-effect waves-light" href="{{ book.get_book }}" target="_blank"><i
                        class="fas fa-shopping-cart"></i> Get this Book</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}