{% extends "base.html" %}
{% block content %}
<h1>Home - Books List</h1>

<div class="container">
    <div class="row">
        {% for book in developer_books %}
            <div class="col-12 col-md-6 col-lg-4 ">
                <!-- Blog post-->
                <div class="card mb-5">
                    <a href="#!"><img class="card-img-top" src="{{ book.imgURL }}"
                            alt="..." /></a>
                    <div class="card-body">
                        <h2 class="card-title h4">{{ book.title }}</h2>
                        <p class="card-text">{{ book.author }}</p>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}