{% extends 'base.html' %}
{% set active_page = "login" %}
{% block content %}
<div class="row">
    <div class="col s12 page-header">
        <h3>Log In</h3>
    </div>
</div>
<!---Login Form-->
<div class="row">
    <div class="col s12 m8 offset-m2 add-form-col">
        <form class="card-panel col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <!--Username Field-->
            <div class="row">
                <div class="col s12 input-field">
                    <input type="text" class="validate" id="username" name="username" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!--Password Field-->
            <div class="row">
                <div class="col s12 input-field">
                    <input type="password" class="validate" id="inputPassword" name="password" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="inputPassword" class="form-label">Password</label>
                </div>
            </div>
            <!--Submit Log In Field-->
            <div class="row">
                <div class="col s12 login-form-btn">
                    <button class="btn" type="submit">Log In</button>
                </div>
                <div class="col s12 login-form-text">
                    New Here?<a href="{{ url_for('register') }}"> <strong>Register</strong> </a>an Account
                </div>
            </div>
        </form>
    </div>


</div>
{% endblock %}