{% extends 'base.html' %}
{% block content %}
<div class="row" style="justify-content: center;">
    <div class="col-8" style="text-align: center;">
        <div class="card">
            <h3 class="card-title">
                {{ username }}'s Profile
            </h3>
            <h4>
                Your Books
            </h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for book in developer_books %}
        {% if session.user|lower == book.added_by|lower %}
        <div class="col-12 col-md-6 col-lg-4 ">
            <!-- Blog post-->
            <div class="card mb-5">
                <a href="#!"><img class="card-img-top" src="{{ book.imgURL }}" alt="..." /></a>
                <div class="card-body">
                    <h2 class="card-title h4">{{ book.title }}</h2>
                    <p class="card-text">{{ book.author }}</p>
                    <p class="card-text">Added by: {{ book.added_by }}</p>
                    <a class="btn btn-primary" href="#!">Read more</a>
                    <a class="btn btn-primary" href="{{ url_for('edit_book', book_id=book._id) }}">Edit</a>
                    <a class="btn btn-primary" href="{{ url_for('delete_book', book_id=book._id) }}">Delete</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}