{% extends 'base.html' %}
{% set active_page = "register" %}
{% block content %}
<div class="row">
    <div class="col s12 page-header">
        <h3>Register</h3>
    </div>
</div>
<!--Register Form-->
<div class="row">
    <div class="col s12 m8 offset-m2 add-form-col">
    <form class="card-panel col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <!--Username Field-->
        <div class="row">
            <div class="col s12 input-field">
                <input type="text" class="validate" id="username" name="username" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Username must be between 5 to 15 characters and only letters and/or numbers" required>
                <label for="username">Username</label>
                <div id="desc-max" class="form-text">Username must be between 5 to 15 characters and only letters and/or numbers
                </div>
            </div>
        </div>
        <!--Password Field-->
        <div class="row">
            <div class="col s12 input-field">
                <input type="password" class="validate" id="inputPassword" name="password" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Password must be between 5 to 15 characters and only letters and/or numbers" aria-describedby="desc-max" required>
                <label for="inputPassword" class="form-label">Password</label>
                <div id="desc-max" class="form-text">Password must be between 5 to 15 characters and only letters and/or numbers
                </div>
            </div>
        </div>
        <!--Submit Register Field-->
        <div class="row">
            <div class="col s12 login-form-btn">
                <button class="btn" type="submit">Register</button>
            </div>
            <div class="col s12 login-form-text">
                    Already Registered?
                    <a href="{{ url_for('login') }}"><strong>Log In</strong></a> to your Account
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}